@media screen and (max-width:576px) {
    .nav-links {
        display: none;
    }
    nav i {
        display: block !important;
    }
    .navbar {
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .banner-section {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        gap: 60px;
    }
    .banner-content {
        width: 100%;
    }
    .banner-img {
        width: 90%;
        margin: 0 auto;
    }
    .img-card-1 {
        right: -10%;
        top: 5%;
        padding: 10px 16px;
    }
    .img-card-1 h3 {
        font-size: 2rem;
    }
    .img-card-2 {
        left: 1%;
        top: 40%;
        padding: 10px 16px;
    }
    .banner-heading {
        font-size: 2.2rem;
        font-weight: 800;
    }
    .banner-btn {
        gap: 10px;
    }
    .banner-btn-1 {
        font-size: 1.1rem;
    }
    .habit-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .habit-container {
        grid-template-columns: repeat(1 ,1fr);
        gap: 50px;
    }
    .run-section {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .run-content {
        width: 100%;
    }
    .run-img {
        width: 100%;
    }
    .run-btn {
        width: 100%;
    }
    .training-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .training-container {
    grid-template-columns: repeat(1, 1fr);
    }
    .training-info1{
        grid-column: span 1;
    }
    .training-info2{
        grid-column: span 1;
    }
    .training-info3 {
        grid-column: span 1;
    }
    .training-info4 {
        grid-column: span 1;
    }
    .training-info5 {
        grid-column: span 1;
    }
    .training-info6 {
        grid-column: span 1;
    }
    .team-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .team-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-container {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        gap: 50px;
    }
    .footer-info {
        width: 100%;
    }
    .footer-links{
        width: 100%;
    }
    .footer-links2{
        width: 100%;
        justify-items: first baseline;
    }
}
@media screen and (min-width:576px) and (max-width:768px) {
    .navbar {
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .banner-section {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        gap: 60px;
    }
    .banner-content {
        width: 100%;
    }
    .banner-img {
        width: 90%;
        margin: 0 auto;
    }
    .img-card-1 {
        right: 22%;
        top: 5%;
    }
    .img-card-1 h3 {
        font-size: 2rem;
    }
    .img-card-2 {
        left: 5%;
        top: 60%;
    }
    .banner-heading {
        font-size: 4.875rem;
        font-weight: 800;
    }
    .banner-btn {
        gap: 10px;
    }
    .banner-btn-1 {
        font-size: 1.1rem;
    }
    .habit-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .habit-container {
        grid-template-columns: repeat(2 ,1fr);
        gap: 50px;
    }
    .run-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .run-content {
        width: 100%;
    }
    .run-img {
        width: 100%;
    }
    .run-btn {
        width: 80%;
    }
    .footer-container {
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        gap: 50px;
    }
    .footer-info {
        width: 100%;
    }
    .footer-links{
        width: 100%;
    }
    .footer-links2{
        width: 100%;
        justify-items: first baseline;
    }
}
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar {
        align-items: center;
        width: 90%;
        margin: 0 auto;
    }
    .banner-section {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        gap: 60px;
    }
    .banner-content {
        width: 100%;
    }
    .banner-img {
        width: 90%;
        margin: 0 auto;
    }
    .img-card-1 {
        right: 22%;
        top: 5%;
    }
    .img-card-1 h3 {
        font-size: 2rem;
    }
    .img-card-2 {
        left: 5%;
        top: 60%;
    }
    .banner-heading {
        font-size: 4.875rem;
        font-weight: 800;
    }
    .banner-btn {
        gap: 10px;
    }
    .banner-btn-1 {
        font-size: 1.1rem;
    }
    .habit-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .habit-container {
        grid-template-columns: repeat(2 ,1fr);
        gap: 50px;
    }
    .run-section {
        width: 90%;
        margin: 0 auto;
         margin-top: 100px;
    }
    .team-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .training-section {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
    }
}
@media screen and (min-width: 993px) and (max-width: 1216px) {
    body{
        width: 90%;
        margin: 0 auto;
    } 
}