* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body {
    background-color: rgba(0,0,0,1);
}
/* Shared Items */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.btn-primary {
    background-color: #E6533C;
    border-radius: 42px;
    font-size: 0.875rem;
    color: #ffffff !important;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    outline: none;
    cursor: pointer;
}
.default-heading {
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}
.default-description {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 24px;
}
/* Header Secton */
header {
    background: linear-gradient(180.00deg, rgba(17.41, 17.41, 17.41, 1) 0%,rgba(119.41, 119.41, 119.41, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.nav-heading {
    color: #E6533C;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
}
.nav-links {
    display: flex;
    gap: 45px;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 40px;
    padding: 12px 20px 12px 4px;
}
.nav-items {
    list-style: none;
}
.link {
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
}
.fa-bars {
    color:  rgba(255, 255, 255, 0.5);
    display: none;
}
nav i {
    display: none !important;
}
/* Banner Section */
.banner-section {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-heading {
    font-size: 4.875rem;
    color: #ffffff;
    margin-bottom: 30px;
}
.banner-description {
    font-size: 1rem;
    line-height: 24px;
    color:  rgba(255, 255, 255, 0.5);
    margin-bottom: 30px;
}
.banner-content {
    width: 50%;
}
.banner-img img {
    width: 100%;
}
.banner-btn {
    display: flex;
    gap: 30px;
}
.banner-btn-1 {
    padding: 14px 30px;
}
.btn-secondary {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    padding: 14px 30px;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.875rem;
}
.banner-img {
    position: relative;
}
.img-card-1 {
    position: absolute;
    top: 22%;
    right:-20%;
    background: rgba(255,255,255, 0.1) ;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px 28px;
}
.img-card-1 h3 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 5px;
}
.img-card-1 p {
    font-size: 0.875rem;
    font-weight: 300;
    color:  rgba(255, 255, 255, 0.5);
}
.img-card-2 {
    position: absolute;
    top: 72%;
    left: -32%;
    color: #ffffff;
    background: rgba(255,255,255, 0.1) ;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 20px 28px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.red-dot {
  width: 40px;
  height: 40px;
  background-color: #e6533c;
  border-radius: 50%;
}

.content h3 {
  font-size: 1.5rem;
  font-weight: 800;
    color: #ffffff;
    margin-bottom: 5px;
}

.content p {
  font-size: 1rem;
  font-weight: 300;
  color:  rgba(255, 255, 255, 0.5);
}
/* Habit Section Started */
.habit-section {
    margin-top: 100px;
}
.habit-heading {
    text-align: center;
    margin-bottom: 20px;
}
.habit-description {
    text-align: center;
}
.habit-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
}
.habit-info {
    text-align: center;
}
.habit-info img {
    width: 100%;
    border-radius: 100%;
    margin-bottom: 20px;
}
.habit-info h4 {
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 10px;
}
/* Run Section Started */
.run-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    background-color: rgba(255, 255, 255, 0.2) ;
    padding: 50px 45px;
    border-radius: 10px;
}
.run-content {
    width: 40%;
}
.run-content h2, p {
    margin-bottom: 20px;
}
.run-content p {
    line-height: 24px;
}
.run-img {
    width: 40%;
}
.run-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.run-btn {
    width: 40%;
    padding: 14px 0;
}
/* Training Section */
.training-section {
    margin-top: 130px;
}
.training-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}
.training-info1 {
    grid-column: span 1;
    position: relative;
}
.training-text1 {
    position:absolute;
    left: 10%;
    top: 70%;
    color: #ffffff;
}
.training-info2 {
    grid-column: 2/span 2;
    position: relative;
}
.training-text2 {
    position:absolute;
    left: 5%;
    top: 10%;
    color: #ffffff;
}
.training-info3 {
    grid-column: span 1;
    position: relative;
}
.training-text3 {
    position:absolute;
    left: 10%;
    top: 70%;
    color: #ffffff;
    width: 60%;
}
.training-info4 {
    grid-column: 1/span 2;
    position: relative;
}
.training-text4 {
    position:absolute;
    color: #ffffff;
    top: 10%;
    left: 40%;
    right: 20%;
    text-align: center;

}
.training-info5 {
    grid-column: span 1;
    position: relative;
} 
.training-text5 {
    position:absolute;
    left: 10%;
    top: 70%;
    color: #ffffff;
    width: 60%;
}
.training-info6 {
    grid-column: span 1;
    position: relative;
}
.training-text6 {
    position:absolute;
    left: 10%;
    top: 70%;
    color: #ffffff;
    width: 60%;
}
.training-info1 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.training-info2 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.training-info3 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.training-info4 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.training-info5 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.training-info6 img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    display: block;
}
/* Team Section Started */
.team-section {
    margin-top: 130px;
}
.team-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);;
    gap: 30px;
    background-color: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
}
.team {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}
.team img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;
}
.team::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.2);
    z-index: 1;
}
.team-info {
    position: absolute;
    bottom:20px;
    left: 20px;
    z-index: 2;
}
.team-info h3 {
    color: #ffffff;
    margin-bottom: 5px;
    font-size: 1.25rem;
}
/* Footer Section */
.footer-section {
    margin-top: 100px;
    background-color: #1a1a1a;
    padding: 50px 0 20px 0;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.footer-heading {
    color: #e6533c;
    font-size: 4.375rem;
    font-weight: 700;
    font-style: italic;
}
.footer-links {
    width: 40%;
}
.footer-links2 {
    width: 40%;
    justify-items: end;
}
.link-heading {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.footer-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-item {
    list-style: none;
}
.link-footer {
    text-decoration: none;
    font-size: 1.43rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}
hr {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    height: 1px;
    margin-top: 50px;
}
.footer-last p {
    text-align: center;
    margin-top: 30px;
}